@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  background-image: url('../public/bg-pattern-desktop.svg');
  background-repeat: no-repeat;
}
